[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.24.2"
fastapi = "*"
uvicorn = "*"
fastanpr = "*"
opencv-python = "*"
jinja2 = "*"
openai = "*"
python-dotenv = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.11"
